
*{margin:0; padding:0; }
ul, li, ol{ list-style:none; }
a{text-decoration:none; color: #212529;}
html, body{ font-family: 'Anton', sans-serif; color: #212529; }
.hidden{
    position: absolute;
	top: -9999px;
}
/* all */
#sub-main{
	max-width: 100%;
	height: 100vh;
	position: relative;
}
#main-wrap{
	margin: 0 auto;
}

/* slide show */
#slider-wrap{
	color: #fff;
	margin: 0 auto;
	width: 800px;
	height: 500px;
	position: relative;
	overflow: hidden;
	text-shadow: rgba(0,0,0,0.7) 2px 2px 2px;
	border-radius: 2%;
}

#slider-wrap > ul#slider{
	width: 800px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#slider-wrap > ul#slider > .slider-item{
	float: left;
	position: relative;
	width: 800px;
	height: 500px;
}
#slider-wrap > ul#slider > .slider-item > div{
	margin: 30px;
}
.slider-item:nth-child(1){ background-color: #d9d;}
.slider-item:nth-child(2){ background-color: #aaa;}
.slider-item:nth-child(3){ background-color: #666;}
.slider-item:nth-child(4){ background-color: #333;}
.slider-item:nth-child(5){ background-color: #a22;}


/* 컨트롤 버튼 */
.btns{
	position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	z-index: 100;
	transition: all 0.1s ease;
}

.btns:hover{
	background-color:rgba(0,0,0,0.3);
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#prev{left:-50px; border-radius:0px 7px 7px 7px;}

#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}
#slider-wrap.active #next{right:0;}
#slider-wrap.active #prev{left:0;}


/* 컨트롤 바 */
#pagination-wrap{
	min-width:20px;
	margin-top:450px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width: 100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
    top:0;
}

#pagination-wrap ul li.active{
    width:12px;
    height:12px;
    top:3px;
    opacity:1;
    box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}

/* 슬라이드 애니메이션 */
#slider-wrap ul, #pagination-wrap ul li{
	transition: all 0.3s;
}

/* 프로필 */
#profile{
	width: 100%;
	height: 100%;
}
#profile-link{
	width: 600px;
	margin: 0 auto;
}
#profile-link > a{
	margin-top: 25px;
	padding-bottom: 25px;
	display: block;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e9ecef;
	position: relative;
}
.profile-space-between{
	display: inline-block;
}
.profile-space-between > div{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.profile-image img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.profile-left{
	display: inline-block;
	margin-left: 10px;
	line-height: 25px;
}
.profile-left > .nick-name{
	font-weight: 900;
	font-size: 18px;
}
.profile-left > .region-name{
	font-weight: 100;
	font-size: 14px;
}
.profile-right{
	position: absolute;
	top:0;
	right: 0;
	padding-right: 36px;
}
.profile-right > .temperatrue-wrap{
	width: 100px;
}
.profile-right > .temperatrue-wrap > dt{
	position: absolute;
	top: 36px;
	right: 0;
	font-size: 12px;
	line-height: 1;
	letter-spacing: -0.6px;
	color: #868e96;
}
.profile-right > .temperatrue-wrap > .text-color-01{
	text-align: right;
	font-weight: 900;
	letter-spacing: 0.5px;
	width: 100px;
	position: absolute;
	right: 35px;
	color: #1561a9;
}

.profile-right > .meters{
	clear: both;
	display: block;
	width: 100px;
	height: 4px;
	background-color: #e9ecef;
	position: relative;
	margin-top: 24px;
}
.profile-right > .meters > .face{
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 24px;
	background: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/articles/face-icon-set-0cffc52be32961b0bb4a308c272d8f526ddcdeda66dbde6eb32618eeb22b74e6.png) no-repeat;
}

/* 제목, 내용 */
#title-ctnt{
	margin: 0 auto;
	padding: 32px 0;
	width: 600px;
	border-bottom: 1px solid #e9ecef;
}
#title-ctnt > #section-title{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -0.6px;
}
#title-ctnt > .category{
	margin-top: 4px;
	font-size: 13px;
	color: #868e96;
	line-height: 1.5;
	letter-spacing: -0.6px;
}
#title-ctnt > .section-price{
	margin-top: 4px;
	font-weight: 600;
	line-height: 1.76;
	letter-spacing: -0.6px;
}
#title-ctnt > .section-ctnt{
	margin: 8px 0 16px;
}
#title-ctnt > .section-ctnt > p{
	font-size: 17px;
	line-height: 1.6;
	letter-spacing: -0.6px;
	margin: 16px 0;
	word-break: break-all;
}
#title-ctnt > .section-counts{
	font-size: 13px;
	line-height: 1.46;
	letter-spacing: -0.6px;
	color: #868e96;
}